{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/About_bookshelf.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>About Dichotica</h1>
          <span class="subheading">A short summary</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Dichotic listening tests are auditory processing assessments that present different sounds simultaneously to both ears. Typically, each ear receives a distinct auditory stimulus through headphones. These tests are designed to study how the brain processes and integrates auditory information from both ears. They are used primarily to assess and understand auditory processing, language lateralization, and cognitive functions. Some key applications are:
        </p>
        <p>
          1. Auditory Processing Disorders (APD).
Dichotic tests help identify issues in the brain's ability to process auditory information. Individuals with APD may struggle to process sounds accurately when presented with competing auditory stimuli.
        </p>
        <p>
          2. Language Lateralization.
These tests are often used to determine which hemisphere of the brain is dominant for language processing. Typically, right-handed individuals show a right-ear advantage, suggesting left-hemisphere dominance for language.
        </p>
          <p>
          3. Neurological Disorders.
Dichotic listening can aid in diagnosing and understanding the impact of neurological conditions such as multiple sclerosis, stroke, or traumatic brain injury, which may affect auditory processing and hemispheric functioning.
        </p>
          <p>
          4. Cognitive and Attention Disorders.
The tests can be used to evaluate selective attention and cognitive control. Individuals with ADHD or other attention-related disorders may exhibit difficulties in focusing on the relevant auditory stimulus.
        </p>
          <p>
          5. Hemispheric Specialization.
            Researchers use dichotic listening to study hemispheric specialization and the interaction between the two hemispheres.
              This can provide insights into the brain's functional organization and how it processes complex auditory information.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
